
@{
    ViewData["Title"] = "Categorias";
    ViewData["datos"] = "Reportes";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets/css/style.css">

<div class="row ml-0 mr-0">
    <div class="col-md-6 pr-0">
        <div class="card">
            <img class="card-img" src="~/assets/images/left-img.jpg" alt="">
            <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                <p>Spirituality</p>
                <hr />

            </div>
        </div>
    </div>
    <div class="col-md-6 pl-0">
        <div class="card">
            <img class="card-img" src="~/assets/images/right-img.jpg" alt="">
            <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                <p>DECOR</p>
                <hr />

            </div>
        </div>
    </div>

    <div class="col-md-3 pr-0 first">
        <div class="card">
            <img class="card-img" src="~/assets/images/architecture.png" alt="">
            <div class="card-img-overlay">
                <h5>Architecture</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 pl-0 pr-0">
        <div class="card">
            <img class="card-img" src="~/assets/images/interior.png" alt="">
            <div class="card-img-overlay">
                <h5>Interior</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 pl-0 pr-0">
        <div class="card">
            <img class="card-img" src="~/assets/images/food.png" alt="">
            <div class="card-img-overlay">
                <h5>Food</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 pl-0 last">
        <div class="card">
            <img class="card-img" src="~/assets/images/travel.png" alt="">
            <div class="card-img-overlay">
                <h5>Travel</h5>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/jquery-1.12.0.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/jquery.yu2fvl.js"></script>
<script src="~/assets/js/main.js"></script>
