
@{
    ViewData["Title"] = "Ordenes";
    ViewData["datos"] = "Reportes";
}

<link rel="stylesheet" href="~/css/style.css">

<section class="team">
    <div class="clear"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Meet The Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="teams">
                    <img src="~/img/tema1.jpg">
                    <div class="icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
                <div class="teams">
                    <img src="~/img/tema2.jpg">
                    <div class="icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
                <div class="teams">
                    <img src="~/img/tema3.jpg">
                    <div class="icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
                <div class="teams">
                    <img src="~/img/tema4.jpg">
                    <div class="icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
                <div class="teams">
                    <img src="~/img/tema5.jpg">
                    <div class="icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
                <div class="teams">
                    <img src="~/img/tema6.jpg">
                    <div class="icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
                <div class="teams">
                    <img src="~/img/tema1.jpg">
                    <div class="icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
                <div class="teams">
                    <img src="~/img/tema2.jpg">
                    <div class="icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
        </div>
    </div>
</section>

<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="~/js/active.js"></script>  