
@{
    ViewData["Title"] = "Productos";
    ViewData["datos"] = "Reportes";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets/css/style.css">

<div class="container-fluid video-player">
    <div class="container">

        <div class="row vr-gallery">
            <div class="col-md-8 mb-4">
                <div class="row">
                    <div class="col-md-12 col-lg-7 pr-0 pd-md">
                        <img src="~/assets/images/gallery-img1.png" alt="">
                    </div>
                    <div class="col-md-12 col-lg-5 light-bg cus-pd cus-arrow-left">
                        <p><small>march 27, 2020</small></p>
                        <h3>
                            Trendy Summer
                            Fashion
                        </h3>
                        <p>
                            To take a trivial example, which of us ever undertakes laborious physical exercise,
                            except to obtain some advantage from it? But who has any right to find fault with a man
                            who chooses...
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 pl-4 mb-4">
                <div class="card">
                    <img class="card-img h-100" src="~/assets/images/video-cover1.jpg" alt="">
                    <div class="card-img-overlay opacity text-center">
                        <a class="play-1" href="https://www.youtube.com/watch?v=vpO8sZDxOGI">
                            <img src="~/assets/images/play-icon.png" alt="">
                        </a>
                        <h5 class="card-title">Weekend In Boston</h5>

                    </div>
                </div>
            </div>

            <div class="col-md-8 mb-4 pr-0 pd-md">
                <div class="card">
                    <img class="card-img h-100" src="~/assets/images/gallery-img2.jpg" alt="">
                    <div class="card-img-overlay">
                        <div class="contact-box">
                            <p><small>march 27, 2020</small></p>
                            <h3>
                                Trendy Summer
                                Fashion
                            </h3>
                            <p>
                                To take a trivial example, which of us ever undertakes laborious physical exercise,
                                some advantage from it? fault with a man who chooses...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 pl-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="~/assets/images/gallery-img3.jpg" alt="">
                    <div class="card-body bg-gray cus-pd2 cus-arrow-up">
                        <p><small>march 27, 2020</small></p>
                        <h3>
                            Trendy Summer
                            Fashion
                        </h3>
                        <p>
                            To take a trivial example, which of us ever undertakes laborious physical exercise, some
                            advantage from it? fault with a man who chooses...
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-8 mb-4">
                <div class="row">
                    <div class="col-md-12 col-lg-7 pr-0 pd-md">
                        <img src="~/assets/images/gallery-img4.jpg" alt="">
                    </div>
                    <div class="col-md-12 col-lg-5 light-bg cus-pd cus-arrow-left">
                        <p><small>march 27, 2020</small></p>
                        <h3>
                            Trendy Summer
                            Fashion
                        </h3>
                        <p>
                            To take a trivial example, which of us ever undertakes laborious physical exercise,
                            except to obtain some advantage from it? But who has any right to find fault with a man
                            who chooses...
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 pl-4 mb-4">
                <div class="card">
                    <img class="card-img h-100" src="~/assets/images/video-cover2.jpg" alt="">
                    <div class="card-img-overlay opacity text-center">
                        <a class="play-1" href="https://www.youtube.com/watch?v=vpO8sZDxOGI">
                            <img src="~/assets/images/play-icon.png" alt="">
                        </a>
                        <h5 class="card-title">Weekend In Boston</h5>

                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center">
                <a href="#" class="btn">Cargar MAs</a>

            </div>
        </div>

    </div>
</div>


<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/jquery-1.12.0.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/jquery.yu2fvl.js"></script>
<script src="~/assets/js/main.js"></script>